$def with (NewTaskForm, DeleteTaskForm, StatusTaskForm, Tasks)

<form action="/new" method="POST">
$:NewTaskForm.render_css()
</form>

<table class="TaskTable">
<tr class="TableHead">
    <th class="ID">ID</th>
    <th class="Status">Status</th>
    <th class="Title">Title</th>
    <th class="Delete">Delete</th>
    <th class="Tags">Tags</th>
</tr>
$for task in Tasks:
    $:DeleteTaskForm.TaskID.set_value(task.id)
    $:StatusTaskForm.Status.set_value(task.status)
    $:StatusTaskForm.TaskID.set_value(task.id)

    <tr class="Body">
        <td class="ID">$task.id</td>

        <td class="Status"><form name="StatusTaskForm$:task.id" action="/status" method="POST" onchange="this.submit()">$:StatusTaskForm.render_css()</form></td>

        <td class="Title"><a href="/edit/$task.id">$task.title</a></td>
        <td class="Delete"><form action="/delete" method="POST">$:DeleteTaskForm.render_css()</form></td>
        <td class="Tags">tbd</td>

    </tr>

</table>

