$def with (NewTaskForm, DeleteTaskForm, StatusTaskForm, Tasks)

<form action="/new" method="post">
$:NewTaskForm.render()
</form>

<table>
<tr>
    <th>ID</th>
    <th>Title</th>
    <th>Status</th>
    <th>Delete</th>
</tr>
$for task in Tasks:
    $:DeleteTaskForm.TaskID.set_value(task.id)
    $:StatusTaskForm.Status.set_value(task.status)
    $:StatusTaskForm.TaskID.set_value(task.id)

    <tr>
        <td>$task.id</td>
        <td>$task.title</td>

        <td><form name="StatusTaskForm$:task.id" action="/status" method="POST" onchange="this.submit()">$:StatusTaskForm.render()</form></td>

        <td><form action="/delete" method="POST">$:DeleteTaskForm.render()</form></td>

    </tr>

</table>

