html {
    background-color: transparent;
    font-family: sans-serif;
}

form{
    margin:0;
}

table.TaskTable tr.TableHead {
    background-color: blue;
    color: white;
}

tr.TableBody {
    background-color: #aaa;
}

Button, select {
    margin: 0;
    padding: 0;
}

#DeleteButton{
    src: url('/files/delete.svg');
}

.NewTask {
    float: left;
    border: 1pt solid blue;
}

p.TaskTable {
    float: left;
    width: 100%;
}
p.Bottom {
    float: left;
}

.TaskFilter {
    float: right;
    border: 1pt solid blue;
}

tr#Status-1.TableBody {
    background-color: #bfb;
}
tr#Status0.TableBody {
    background-color: #bbf;
}
tr#Status1.TableBody {
    background-color: #fbb;
}



td.Title{
    width: 100%;
}


td.Title a{
    color: Black;
    text-decoration: none;
    width: 100%;
    float: left;
    padding-top: 5;
    padding-bottom: 5;
}
td.Title a:hover{
    background-image: url('/files/background_brightness.png');
}



ul.Tags {
    font-size: 50%;
    list-style-type: none;
    padding: 0;
    margin: 0;
}


td.ID {
    text-align: center;
}
