html {
    background-color: transparent;
    font-family: sans-serif;
}

table.TaskTable tr.TableHead {
    background-color: blue;
}

td.Title {
    width: 100%;
}


td.ID, td.Status {
    font-size: 60%;
}


